@{
    ViewData["Title"] = "Classmates";
}

 <main id="main" data-aos="fade" data-aos-delay="1500">

     <!-- ======= Testimonials Section ======= -->
     <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-header">
          <h2>Students</h2>
          <p>Visit my classmates Sites</p>
        </div>

        <div class="slides-3 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                <a href="https://www.linkedin.com/in/corbin-brown-2b93221b1/" />
                  Meet Corbin @@ https://www.linkedin.com/in/corbin-brown-2b93221b1/
                </p>
                <div class="profile mt-auto">
                  <img src="~/assets/img/testimonials/Corbin.jpg" class="testimonial-img" alt="">
                  <h3>Corbin Brown</h3>
                  <h4>Classmate</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
               

                <p>
                  <a href="https://www.linkedin.com/in/william-watts-/"/>
                  Meet Evan @@ https://www.linkedin.com/in/william-watts-/
                </p>
                <div class="profile mt-auto">
                  <img src="~/assets/img/testimonials/William.jpg" class="testimonial-img" alt="">
                  <h3>William Watts</h3>
                  <h4>Classmate</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <a href="https://www.linkedin.com/in/alex-erdrich-ab697a108/"/>
                  Meet Brice @@ https://www.linkedin.com/in/alex-erdrich-ab697a108/
                </p>
                <div class="profile mt-auto">
                  <img src="~/assets/img/testimonials/PictureForDanAndAlex.gif" class="testimonial-img" alt="">
                  <h3>Alex Erdrich</h3>
                  <h4>Classmate</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <a href="https://www.linkedin.com/in/dan-ambro-669688a4/"/>
                  Meet Sean @@ https://www.linkedin.com/in/dan-ambro-669688a4/
                </p>
                <div class="profile mt-auto">
                  <img src="~/assets/img/testimonials/PictureForDanAndAlex.gif" class="testimonial-img" alt="">
                  <h3>Dan Ambro</h3>
                  <h4>Classmate</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->



           
            
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->