@{
    ViewData["Title"] = "Classmates";
}

 <main id="main" data-aos="fade" data-aos-delay="1500">

     <!-- ======= Testimonials Section ======= -->
     <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-header">
          <h2>Students</h2>
          <p>Visit my classmates Sites</p>
        </div>

        <div class="slides-3 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <a href="http://natalielk.com"/>
                  Meet Natalie @@ http://natalielk.com
                </p>
                <div class="profile mt-auto">
                  <img src="~/assets/img/testimonials/natalie.jpg" class="testimonial-img" alt="">
                  <h3>Natalie Kuechler</h3>
                  <h4>Classmate</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
               

                <p>
                  <a href="http://evannoeldev.com"/>
                  Meet Evan @@ http://evannoeldev.com
                </p>
                <div class="profile mt-auto">
                  <img src="~/assets/img/testimonials/Evan.jpg" class="testimonial-img" alt="">
                  <h3>Evan Noel</h3>
                  <h4>Classmate</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <a href="http://bricepaquette.com"/>
                  Meet Brice @@ http://bricepaquette.com
                </p>
                <div class="profile mt-auto">
                  <img src="~/assets/img/testimonials/bryce.jpg" class="testimonial-img" alt="">
                  <h3>Brice Paquette</h3>
                  <h4>Classmate</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <a href="http://thatssean.com"/>
                  Meet Sean @@ http://thatssean.com
                </p>
                <div class="profile mt-auto">
                  <img src="~/assets/img/testimonials/Sean.jpg" class="testimonial-img" alt="">
                  <h3>Sean Rice</h3>
                  <h4>Classmate</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <a href="http://jeffreycundiff.com"/>
                  Meet Jeffrey @@ http://jeffreycundiff.com
                </p>
                <div class="profile mt-auto">
                  <img src="~/assets/img/testimonials/jd,jpg.jpg" class="testimonial-img" alt="">
                  <h3>Jeffrey Cundiff</h3>
                  <h4>Classmate</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <a href=""/> 
                <p>
                <a href="https://aaronfschmitt.com"/>
                  Meet Aaron @@ https://aaronfschmitt.com
                </p>
                <div class="profile mt-auto">
                  <img src="~/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Aaron Schmitt</h3>
                  <h4>Classmate</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->
            
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->