@{
    ViewData["Title"] = "Projects";
}
<!--Main-->
<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Projects</h2>
                    <p>Here are all the links to my Projects</p>

                    

                </div>
            </div>
        </div>
    </div><!-- End Page Header -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container-fluid">

            <div class="row gy-4 justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src="~/assets/img/gallery/Dungeon.JPG" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="~/assets/img/gallery/Dungeon.JPG" title="My Dungeon Application Utilizing C#" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <a href="https://github.com/CDonnerDev/DungeonApplication" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src="~/assets/img/gallery/StoreFront.JPG" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="~/assets/img/gallery/StoreFront.JPG" title="The StoreFront using MVC" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <a href="https://github.com/CDonnerDev/StoreFront" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src="~/assets/img/gallery/ToDoAPI.JPG" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="~/assets/img/gallery/ToDoAPI.JPG" title="Shows my categories in the API" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <a href="https://github.com/CDonnerDev/ToDoAPI" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src="~/assets/img/gallery/ToDo.JPG" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="~/assets/img/gallery/ToDo.JPG" title="Here is the ToDo Site using REACT and using the ToDoAPI" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <a href="https://github.com/CDonnerDev/ToDo" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div><!-- End Gallery Item -->
                
            </div>

        </div>
    </section><!-- End Gallery Section -->

</main><!-- End #main -->