@{
    ViewData["Title"] = "Gallery-Single";
}

<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Projects</h2>
                    <p>Here are all the Projects</p>

                </div>
            </div>
        </div>
    </div><!-- End Page Header -->
    <!-- ======= Gallery Single Section ======= -->
    <section id="gallery-single" class="gallery-single">
        <div class="container">

            <div class="position-relative h-100">
                <div class="slides-1 portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">

                        <div class="swiper-slide">
                            <img src="~/assets/img/gallery/mike-hindle-MRYZ2EAFJCk-unsplash.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/assets/img/gallery/taylor-vick-D2ArvCaoEAM-unsplash.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/assets/img/gallery/ilya-pavlov-OqtafYT5kTw-unsplash.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/assets/img/gallery/ilya-pavlov-OqtafYT5kTw-unsplash.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/assets/img/gallery/ilya-pavlov-OqtafYT5kTw-unsplash.jpg" alt="">
                        </div>


                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>

            <div class="row justify-content-between gy-4 mt-4">

                <div class="col-lg-8">
                    <div class="portfolio-description">
                        <h2>This is an example of portfolio detail</h2>
                        <p>
                            Here are the apps if you'd like to check them out this way!
                        </p>
                        <p>
                            I didn't realize they were gonna take this long
                        </p>

                        <div class="testimonial-item">

                            <div>
                                <img src="~/assets/img/gallery/IMG_5360.jpg" class="testimonial-img" alt="">
                                <h3>Colson Donner</h3>
                                <h4>That's ME</h4>
                            </div>
                        </div>

                        <p>


                        <p>

                        </p>

                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong> <span>Full Stack Development</span></li>
                            <li><strong>Training</strong> <span>Centriq Training</span></li>
                            <li><strong>Started:</strong> <span>03 October, 2022</span></li>
                            <li><strong>Ending:</strong> <span>20 January, 2023</span></li>
                            <li><strong>linkedin</strong> <a href="https://www.linkedin.com/in/colson-donner-60a803244/">www.linkedin.com/in/colson-donner-60a803244/</a></li>
                            <li><a href="#" class="btn-visit align-self-start">Visit Website</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Gallery Single Section -->

</main><!-- End #main -->